<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Software Development Life Cycle SDLC, Content">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Courses</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Courses.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.10.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/LMSLogo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Courses">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode"><header class="u-clearfix u-header u-header" id="sec-c85c"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="434" data-image-height="186">
          <img src="images/LMSLogo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1.25rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 700;">
            <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-border-radius u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-5 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-radius-5 u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Courses" style="padding: 10px 20px;">Courses</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-radius-5 u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Tasks" style="padding: 10px 20px;">Tasks</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-radius-5 u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Profile" style="padding: 10px 20px;">Profile</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-radius-5 u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="/" style="padding: 10px 20px;">Logout</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Courses">Courses</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Tasks">Tasks</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Profile">Profile</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Logout</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-left u-clearfix u-image u-shading u-section-1" src="" data-image-width="1920" data-image-height="1080" id="sec-f868">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-palette-3-light-2 u-title u-text-1">
          <span style="font-size: 3rem;">Software Development Life Cycle SDLC</span>
        </h1>
        <p class="u-large-text u-text u-text-variant u-text-2"> Right from the beginning, you'll jump in and learn what is SDLC, What are the phases of SDLC&nbsp;and how it is actually getting carried out in day to day software industries. Say goodbye to boring tutorials and courses with rambling instructors.</p>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-section-2" id="sec-3519" data-image-width="1280" data-image-height="720">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-body-alt-color u-text-default u-text-1">Content</h2>
        <div class="u-accordion u-align-left u-expanded-width u-spacing-15 u-accordion-1">
          <div class="u-accordion-item">
            <a class="active u-accordion-link u-active-white u-button-style u-hover-white u-text-active-palette-2-base u-text-hover-palette-2-base u-white u-accordion-link-1" id="link-accordion-0781" aria-controls="accordion-0781" aria-selected="true">
              <span class="u-accordion-link-text">Lesson 1 : Introduction to SDLC<br>
              </span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 42 42" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d827"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-d827" style="enable-background:new 0 0 42 42;"><polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "></polygon></svg></span>
            </a>
            <div class="u-accordion-active u-accordion-pane u-container-style u-white u-accordion-pane-1" id="accordion-0781" aria-labelledby="link-accordion-0781">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <h5 class="u-text u-text-2"> what is SDLC, What are the phases of SDLC</h5>
                <ol class="u-align-left u-text u-text-3">
                  <li> Analysis and Planning Phase</li>
                  <li>Requirement Phase</li>
                  <li>Design and Prototyping phase</li>
                  <li>Software Development Phase</li>
                  <li>Testing Phase</li>
                  <li>Deployment Phase</li>
                  <li>Maintenance Phase</li>
                </ol>
                <a href="#" class="u-btn u-btn-round u-button-style u-hover-palette-2-light-1 u-palette-2-base u-radius-6 u-btn-1">Go to Lesson<br>
                </a>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-white u-button-style u-hover-white u-text-active-palette-2-base u-text-hover-palette-2-base u-white u-accordion-link-2" id="link-accordion-4c47" aria-controls="accordion-4c47" aria-selected="false">
              <span class="u-accordion-link-text">Lesson 2 : SDLC&nbsp;Models</span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 42 42" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e2d7"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-e2d7" style="enable-background:new 0 0 42 42;"><polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "></polygon></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-white u-accordion-pane-2" id="accordion-4c47" aria-labelledby="link-accordion-4c47">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <p class="u-text u-text-4">Introduction to models of SDLC</p>
                <ol class="u-text u-text-5">
                  <li> Waterfall Model</li>
                  <li>Incremental Model</li>
                  <li>Iterative Model</li>
                  <li>V model</li>
                  <li>Spiral Model</li>
                  <li>Agile Model</li>
                </ol>
                <a href="#" class="u-btn u-btn-round u-button-style u-hover-palette-2-light-1 u-palette-2-base u-radius-6 u-btn-2">Go to Lesson<br>
                </a>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-white u-button-style u-hover-white u-text-active-palette-2-base u-text-hover-palette-2-base u-white u-accordion-link-3" id="link-accordion-a910" aria-controls="accordion-a910" aria-selected="false">
              <span class="u-accordion-link-text">Lesson 3 : Agile Methodologies</span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 42 42" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ba02"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-ba02" style="enable-background:new 0 0 42 42;"><polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "></polygon></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-white u-accordion-pane-3" id="accordion-a910" aria-labelledby="link-accordion-a910">
              <div class="u-container-layout u-container-layout-3">
                <p class="u-text u-text-6"> Key Agile concepts (User story ,Burn Down chart)</p>
                <ol class="u-text u-text-7">
                  <li> SCRUM</li>
                  <li>KANBAN</li>
                  <li>EXTREME Programming&nbsp;</li>
                </ol>
                <a href="#" class="u-btn u-btn-round u-button-style u-hover-palette-2-light-1 u-palette-2-base u-radius-6 u-btn-3">Go to Lesson<br>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </section>
    
    
    
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-design" target="_blank">
        <span>Website Design</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/static-site-generator" target="_blank">
        <span>Static Website Generator</span>
      </a>. 
    </section> -->
  </body>
</html>