<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Sign In">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Login</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Login.css" media="screen">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.10.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"logo": "images/LMSLogo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Login">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode"><header class="u-clearfix u-header u-header" id="sec-603f"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="434" data-image-height="186">
          <img src="images/LMSLogo.png" class="u-logo-image u-logo-image-1">
        </a>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-4a0d">
      <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-top u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-center u-container-style u-grey-5 u-layout-cell u-left-cell u-size-20 u-layout-cell-1" src="">
              <div class="u-container-layout u-valign-middle u-container-layout-1"><span class="u-file-icon u-icon u-icon-1"><img src="images/LMSLogo-5.png" alt=""></span>
                <h2 class="u-text u-text-palette-1-base u-text-1"> Project for Stige</h2>
                <p class="u-text u-text-2"> Learning Management System, Project for Software Development Internship at Stige.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-40 u-image-1" src="" data-image-width="3500" data-image-height="6000">
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-subtitle u-text u-text-default u-text-3">Sign In</h2>
                <div class="u-border-3 u-border-grey-75 u-form u-radius-5 u-form-1">
                  <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
                    <div class="u-form-group u-form-name">
                      <label for="name-c1d3" class="u-label">Registered Email</label>
                      <input type="email" placeholder="Enter your registered Email" id="name-c1d3" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-5 u-white" required="">
                    </div>
                    <div class="u-form-email u-form-group">
                      <label for="email-c1d3" class="u-label">Password</label>
                      <input type="password" placeholder="Enter your password" id="email-c1d3" name="password" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-5 u-white" required="">
						<i class="bi bi-eye-slash" id="togglePassword">Show Password</i>
					</div>
                    <div class="u-align-center u-form-group u-form-submit">
                      <a href="Courses" class="u-active-palette-1-base u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-light-1 u-palette-1-light-2 u-radius-5 u-btn-1">Submit</a>
                      <input type="submit" onclick="window.location.href= '../Courses'" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Login Success </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to Login. Please check deepan your Username and Password </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                  </form>
                </div>
                <a href="Register" data-page-id="2521913518" class="u-active-none u-align-center u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-2">New user? Click here to Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	<script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#email-c1d3");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        // prevent form submit
        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            e.preventDefault();
        });
    </script>
  </body>
</html>