<!DOCTYPE html>
<html style="font-size: 16px">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="keywords" content="Project for Stige, Register here" />
    <meta name="description" content="" />
    <meta name="page_type" content="np-template-header-footer-from-plugin" />
    <title>Register</title>
    <link rel="stylesheet" href="nicepage.css" media="screen" />
    <link rel="stylesheet" href="Register.css" media="screen" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <script
      class="u-script"
      type="text/javascript"
      src="jquery.js"
      defer=""
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="nicepage.js"
      defer=""
    ></script>
    <meta name="generator" content="Nicepage 4.10.5, nicepage.com" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900"
    />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Site1",
        "logo": "images/LMSLogo.png"
      }
    </script>
    <meta name="theme-color" content="#478ac9" />
    <meta property="og:title" content="Register" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
  </head>
  <body class="u-body u-xl-mode">
    <header class="u-clearfix u-header u-header" id="sec-603f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a
          href="/"
          class="u-image u-logo u-image-1"
          data-image-width="434"
          data-image-height="186"
        >
          <img src="images/LMSLogo.png" class="u-logo-image u-logo-image-1" />
        </a>
      </div>
    </header>
    <section class="u-clearfix u-section-1" id="sec-5977">
      <div
        class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-top u-layout-wrap u-layout-wrap-1"
      >
        <div class="u-layout">
          <div class="u-layout-row">
            <div
              class="u-align-center u-container-style u-grey-5 u-layout-cell u-left-cell u-size-20 u-layout-cell-1"
              src=""
            >
              <div
                class="u-container-layout u-valign-middle u-container-layout-1"
              >
                <img
                  class="u-image u-image-default u-image-1"
                  src="images/LMSLogo-7.png"
                  alt=""
                  data-image-width="434"
                  data-image-height="186"
                />
                <h2 class="u-text u-text-palette-1-base u-text-1">
                  Project for Stige
                </h2>
                <p class="u-text u-text-2">
                  Learning Management System, Project for Software Development
                  Internship at Stige.
                </p>
              </div>
            </div>
            <div
              class="u-container-style u-image u-layout-cell u-right-cell u-size-40 u-image-2"
              src=""
              data-image-width="1280"
              data-image-height="819"
            >
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-subtitle u-text u-text-default u-text-3">
                  Register here
                </h2>
                <a
                  href="Login"
                  data-page-id="1086905129"
                  class="u-active-none u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1"
                  >Already a User, Login In</a
                >
                <div
                  class="u-align-center u-border-3 u-border-grey-75 u-form u-radius-5 u-form-1"
                >
                  <form
                    action="/register"
                    method="post"
                    class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                    source="custom"
                    name="form"
                    style="padding: 10px"
                  >
                    <!-- <div class="u-form-group u-form-group-1">
                      <label for="text-bf0a" class="u-label"
                        >Profile Picture
                        <img
                          id="profpic"
                          alt="Profile picture"
                          width="100"
                          height="100"
                          style="border-radius: 10px"
                      /></label>
                      <button
                      class="u-active-palette-2-base u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-2-light-1 u-palette-2-light-2 u-radius-5 u-btn-1"
                      formaction="/upload"
                      >Upload</button>
                      <input
                        type="file"
                        name="picturePicture"
                        accept="image/*"
                        onchange="document.getElementById('profpic').src = window.URL.createObjectURL(this.files[0])"
                        placeholder="Choose image for Profile"
                        id="text-bf0a"
                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-5 u-white"
                        required="required"
                      />
                    </div> -->
                    <div class="u-form-group u-form-name">
                      <label for="name-fa5d" class="u-label" name="name"
                        >Name</label
                      >
                      <input
                        type="text"
                        placeholder="Enter your Name"
                        id="name-fa5d"
                        name="name"
                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-5 u-white"
                        required=""
                        maxlength="30"
                      />
                    </div>
                    <div class="u-form-email u-form-group">
                      <label for="email-fa5d" class="u-label" name="email"
                        >Email</label
                      >
                      <input
                        type="email"
                        placeholder="Enter a valid email address"
                        id="email-fa5d"
                        name="email"
                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-5 u-white"
                        required=""
                      />
                    </div>
                    <div class="u-form-group u-form-group-4">
                      <label for="text-3338" class="u-label" name="password"
                        >Password</label
                      >
                      <input
                        type="password"
                        placeholder="Enter a strong password"
                        id="text-3338"
                        name="password"
                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-5 u-white"
                        required="required"
                      />
                    </div>
                    <div class="u-form-group u-form-group-5">
                      <label
                        for="text-c84b"
                        class="u-label"
                        name="confirmPassword"
                        >Confirm Password</label
                      >
                      <input
                        type="password"
                        placeholder="Re enter password to confirm"
                        id="text-c84b"
                        name="confirmPassword"
                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-5 u-white"
                        required="required"
                        onkeyup="check()"
                      />
                      <i class="bi bi-eye-slash" id="togglePassword"
                        >Show Password</i
                      >
                    </div>
                    <div class="u-align-center u-form-group u-form-submit">
                      <button
                        class="u-active-palette-2-base u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-2-light-1 u-palette-2-light-2 u-radius-5 u-btn-2"
                        type="submit" >Submit</button>
                        <!-- onclick="window.location.href= '../Login'" 
                          id="verify">Submit</button> -->
                      <!-- <input
                        type="submit"
                        value="submit"
                        class="u-form-control-hidden"
                      /> -->
                    </div>
                    <!-- <div class="u-form-send-message u-form-send-success" name ="Successful">
                      Registration Successful, Continue to Login
                    </div>
                    <div class="u-form-send-error u-form-send-message" name="failed">
                      Email Id already exists, Try using new email !!ERROR!!
                    </div> -->
                    <!-- <input type="hidden" value="" name="recaptchaResponse" /> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Password script (hide or show) -->
    <script>
      const togglePassword = document.querySelector("#togglePassword");
      const password1 = document.querySelector("#text-3338");
      const password2 = document.querySelector("#text-c84b");

      togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type1 =
          password1.getAttribute("type") === "password" ? "text" : "password";
        const type2 =
          password2.getAttribute("type") === "password" ? "text" : "password";
        password1.setAttribute("type", type1);
        password2.setAttribute("type", type2);

        // toggle the icon
        this.classList.toggle("bi-eye");
      });

      // prevent form submit
      const form = document.querySelector("form");
      form.addEventListener("submit", function (e) {
        e.preventDefault();
      });

      // const verify = document.querySelector("#verify");


      // verify.addEventListener("click", function () {
      //   // toggle the type attribute
      //   let password= document.getselector("#text-3338").value;
      //   let confirmPassword=document.getselector("#text-c84b").value;

      //   if (password === confirmPassword ){
      //     console.log('no')
      //   }
      // });


      // function check(){
      //   let password= document.getselector("text-3338").value;
      //   let confirmPassword=document.getselector("text-c84b").value;

      //   if (password === confirmPassword ){
      //     alert('no')
      //   }
      // }

      // var check = function () {
      //   if (document.getElementById('password').value ==
      //     document.getElementById('confirmPassword').value) {
      //     document.getElementById('message').style.color = 'green';
      //     document.getElementById('message').innerHTML = 'matching';
      //   } else {
      //     document.getElementById('message').style.color = 'red';
      //     document.getElementById('message').innerHTML = 'not matching';
      //   }
      // }

      // function check() {
      //   if (document.getElementById('text-3338').value === document.getElementById('text-c84b').value) {
      //     document.getElementById('message').innerHTML = "match";
      //   } else {
      //     document.getElementById('message').innerHTML = "no match";
      //   }
      // }
    </script>
  </body>
</html>
