
    <!DOCTYPE html>
    <html style="font-size: 16px;">
    
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="page_type" content="np-template-header-footer-from-plugin">
      <title>Tasks</title>
      <link rel="stylesheet" href="nicepage.css" media="screen">
      <link rel="stylesheet" href="Tasks.css" media="screen">
      <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
      <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
      <meta name="generator" content="Nicepage 4.10.5, nicepage.com">
      <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      
      <script type="application/ld+json">{
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Site1",
            "logo": "images/LMSLogo.png"
    }</script>
      <meta name="theme-color" content="#478ac9">
      <meta property="og:title" content="Tasks">
      <meta property="og:description" content="">
      <meta property="og:type" content="website">
    </head>
    
    <body class="u-body u-xl-mode">
      <header class="u-clearfix u-header u-header" id="sec-603f" data-animation-name="" data-animation-duration="0"
        data-animation-delay="0" data-animation-direction="">
        <div class="u-clearfix u-sheet u-sheet-1">
          <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="434" data-image-height="186">
            <img src="images/LMSLogo.png" class="u-logo-image u-logo-image-1">
          </a>
          <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse"
              style="font-size: 1.25rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
              <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-border-radius u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="#">
                <svg class="u-svg-link" viewBox="0 0 24 24">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                </svg>
                <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                  xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <rect y="1" width="16" height="2"></rect>
                    <rect y="7" width="16" height="2"></rect>
                    <rect y="13" width="16" height="2"></rect>
                  </g>
                </svg>
              </a>
            </div>
            <div class="u-custom-menu u-nav-container">
              <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                <li class="u-nav-item"><a
                    class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-radius-5 u-text-active-grey-90 u-text-grey-90 u-text-hover-palette-4-dark-1"
                    href="Courses" style="padding: 10px 20px;">Courses</a>
                </li>
                <li class="u-nav-item"><a
                    class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-radius-5 u-text-active-grey-90 u-text-grey-90 u-text-hover-palette-4-dark-1"
                    href="Tasks" style="padding: 10px 20px;">Tasks</a>
                </li>
                <li class="u-nav-item"><a
                    class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-radius-5 u-text-active-grey-90 u-text-grey-90 u-text-hover-palette-4-dark-1"
                    href="Profile" style="padding: 10px 20px;">Profile</a>
                </li>
                <li class="u-nav-item"><a
                    class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-radius-5 u-text-active-grey-90 u-text-grey-90 u-text-hover-palette-4-dark-1"
                    href="Logout" style="padding: 10px 20px;">Logout</a>
                </li>
              </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
              <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-inner-container-layout u-sidenav-overflow">
                  <div class="u-menu-close"></div>
                  <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Courses">Courses</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Tasks">Tasks</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Profile">Profile</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Logout">Logout</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
          </nav>
        </div>
      </header>    
<div class="container mt-5">
    <div id="taskContent">
        <div class="app-container" id="taskList">
          <h1 class="app-header">TASKS</h1>
    <form action="/add/task" method="PUT" class="d-flex">
        <input type="text" text-color="white"  name="task" class="task-input" class="form-control" placeholder="Add New Task" v-model="tasks.name" @keyup.enter="newItem">
        <input type="submit" value="Add" class="submit-task"  title="Add Task">
        <!-- <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2"> -->
    </form>
    <label class="task-list-item-label">
    </label>
    <ul class="task-list">
              <!-- <% task.forEach(tasks => { %>
                <li class="list-group-item"><%= tasks.task %> <a href="/delete/task/<%= tasks._id %>"
                        class="delete-btn"></a></li>
        
                <% }) %> -->
                <% task.forEach(function( eachTask){ %>
                  <li class="list-group-item"> <%= eachTask.task %>  <a href="/delete/task/<%= eachTask %>" class="delete-btn"></a>
                  </li>
              <% }) %>
    </ul>
    </div>
    
    </div>    
</div>

<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
crossorigin="anonymous"></script> -->
</body>

</html>